@font-face {
    font-family: hacknerd;
    src: url('../public/hackFont/Hack\ Regular\ Nerd\ Font\ Complete.ttf');
}

@font-face {
    font-family: hacknerdBlod;
    src: url('../public/hackFont/Hack\ Bold\ Nerd\ Font\ Complete.ttf');
}
